/* Fondo de la página */
body {
    background-color: #e4e4e4;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

/* Navbar base */
.navbar-huerto {
  background: #3A4137;
  transition: background 0.3s ease;
  padding: 10px 20px;
}

/* Navbar al hacer scroll */
.navbar-huerto.transparent {
  background: rgba(58, 65, 55, 0.7);
  backdrop-filter: blur(5px);
}

/* Marca */
.brand-text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

/* Links del navbar */
.navbar-huerto .nav-link {
    color: #fff !important;
    margin-right: 10px;
}

.navbar-huerto .nav-link:hover {
    color: #FFD700 !important;
}

/* Botón Buscar */
.btn-huerto {
    background-color: #809D3C !important;
    color: #fff !important;
    border: none;
}

.btn-huerto:hover {
    background-color: #5D8736 !important;
}

/* Íconos carrito/corazón */
.icon-link {
    font-size: 1.4rem;
    color: #fff;
    position: relative;
}

.icon-link:hover {
    color: #FFD700;
}
/* Contadores de carrito y favoritos */
.badge {
  font-size: 0.7rem;
  position: absolute;
  top: -8px;
  right: -10px;
  border-radius: 50%;
  padding: 5px 7px;
}

/* Carrusel */
.carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.producto-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: #fff;
  border-radius: 12px;
}

/* Para que quede cuadrado y sin deformar */
.img-cuadrada {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  overflow: hidden;

}
.img-cuadrada img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 2px;
}
.img-cuadrada .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}
/*Para cambiar las letritas*/
#consejo-titulo {
  font-size: 2rem;      
  font-weight: bold;
  color: #fff;        
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); 
}
#consejo-texto {
  font-size: 1.3rem;   
  color: #f1f1f1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}